body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url(../../CSS/latihan3/gambar/batik2.jpg);
}

.gambar1{
    background-color: cornsilk;
    width: 300px;
    height: 300px;
    border-radius: 0 50% 50% 50%;
    background-image: url(geumesh.jpeg);
    background-size: cover;
    position: relative;    
    object-position: center;
}